<html>
  <h1 style="text-align: center;"><span style="color: #ffff00; background-color: #000000;">&nbsp;HELLO </span><span style="color: #000000; background-color: #ffff00;">&nbsp;MASS&nbsp;</span></h1>
  <body id="main">
    <div class="row">
      <h2 align="center">Agitator Controls</h2>
      </div>
    <a href=# id=center><button>Center Agitator</button></a>
    </div>
  </body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="{{url_for('static', filename='index.js')}}"></script>
</html>
